body {
	font-family: "Franklin Gothic", "Libre Franklin", Helvetica, Droid Sans, sans-serif;
}

.quiz {
}

.quiz > div {
	height: 45%;
	width: 100%;
	font-size: 4rem;
	display: flex;
	align-items: center;
}

.quiz > div > div {
	width: 100%;
	text-align: center;
}

.quiz .answer-btn {
	font-size: inherit;
	padding-left: 2rem;
	padding-right: 2rem;
}

.quiz .answer-text {
	display: none;
	font-size: inherit;
}